

<div *ngIf="weatherInfo">
  <h3>Weather Information for {{ weatherInfo.name }}</h3>
  <p>Temperature: {{ weatherInfo.main.temp}}°C</p>
  <p>Feels like: {{ weatherInfo.main.feels_like }}°C</p>
  <div> Clouds: {{weatherInfo.clouds.all}}%
    <span *ngFor="let w of weatherInfo.weather">
      <span>Description: {{w.description}}</span>
      <img [src]="'https://openweathermap.org/img/wn/'+w.icon+'@2x.png'" alt="{{w.description}}">
    </span>
  </div>

  <p>Humidity: {{ weatherInfo.main.humidity}}%</p>
  <p>Pressure: {{ weatherInfo.main.pressure }} hPa</p>


  <p>Wind Speed: {{convertWindSpeed(weatherInfo.wind.speed) }} km/h
  ({{getWindSpeedExplanation(convertWindSpeed(weatherInfo.wind.speed))}})
  </p>
  <p>Wind Direction: {{ weatherInfo.wind.deg }}°{{getWindDirection(weatherInfo.wind.deg)}}</p>
  <p>Country Code: {{ weatherInfo.sys.country }}</p>
  <p>Timezone: {{ getUtcOffsetString(weatherInfo.timezone) }}</p>
  <p>Sunrise: {{ weatherInfo.sys.sunrise }}</p>
  <p>Sunset: {{ weatherInfo.sys.sunset }}</p>
 
  
</div>

  <!-- <p>Max Temperature: {{ weatherInfo.main.temp_max}}°C</p> -->
  <!-- <p>Min Temperature: {{ weatherInfo.main.temp_min}}°C</p>  -->
  <!-- <p>Visibility: {{ weatherInfo.visibility }} meters</p>  -->
