<div class="city-wrap">
	<form class="city-search-form" [formGroup]="cityForm">
		<div class="inputs">
			<input
				type="text"
				id="city-search-inputfield"
				placeholder="Enter a city name..."
				formControlName="cityControl"
				(keydown.enter)="oncitySearch()"
			/>

			<button class="city-search-button" (click)="oncitySearch()">Search</button>
		</div>
	</form>

	<div class="city-card-wrap" *ngIf="cityInfo && cityInfo.length > 0">

		<div class="city-card" *ngFor="let item of cityInfo">
			<div class="city-card-container" >
				<div class="city-name city-info-item">{{ item.name }}</div>
				<div class="country city-info-item">
					{{ item.country }}
				</div>
				<div class="state city-info-item">{{item.state}}</div>
			</div>

			<div class="confirm-button" (click)="onSendCoordination(item.longitude, item.latitude)"><button>Ezt keresem</button></div>

		</div>
	</div>

	<!-- <div *ngIf="cityInfo && cityInfo.length > 0" class="city-card-wrap">


    <div *ngFor="let item of cityInfo" class="city-infos">
        <div class="city-info">{{ item.name }}</div>
        <div class="city-info">{{ item.country }}</div>
        <div class="city-info">{{item.state}}</div>
      <button class="target-button city-info" (click)="onSendCoordination(item.longitude, item.latitude)">Ezt keresem</button>
    </div>

  </div> -->
</div>
