.city-infos-wrap {
	width: 600px;
	margin: 0 auto;
	box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.city-infos-header {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
}

.city-infos-header
.city-info-description {
	border-right: 1px solid rgb(169, 169, 169);
	text-align: center;
}

 .city-infos {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
}

.city-infos:nth-child(1), .city-infos:nth-child(2) {
	border-right: 1px solid rgb(169, 169, 169);
}

.city-info {
	padding: 5px;
	text-align: center;
}


.target-button {
	display: block;
	width: 140px;
	height: 30px;
	padding: 0;
	margin: 0 auto;
} 


